################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TD1/.vs
/TD1/out/build/x64-debug
/.vs
/OOP_introduction/.vs
/OOP_introduction/out/build/x64-debug/.cmake/api/v1
/OOP_introduction/out/build/x64-debug
/TD2/.vs
/TD2/out/build/x64-debug
