################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TD1/.vs
/TD1/out/build/x64-debug
/.vs
