################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TD1/.vs
/TD1/out/build/x64-debug
/.vs
/OOP_introduction/.vs
/OOP_introduction/out/build/x64-debug/.cmake/api/v1
/OOP_introduction/out/build/x64-debug
/TD2/.vs
/TD2/out/build/x64-debug
/OOP_introduction/OOP_introduction/out/build/x64-Debug
/OOP_introduction/OOP_introduction/.vs
/TD3/.vs
/TD3/out/build/x64-debug
/Fraction/out/build/x64-debug
/Fraction/.vs
/TD4-5/out/build/x64-debug
/TD4-5/.vs
